.infectionRateCounter {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 270px;
  right: 30px;
  justify-content: center;
}

.infectionRateCounter--counterDiv {
  display: flex;
}

.infectionRateCounter--title {
  margin: 0;
  text-align: center;
}

.infectionRateCounter--counter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.infectionRateCounter--circle {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  margin-bottom: 0;
  background-color: rgba(0, 128, 0, 0.666);
}
.selectedRate {
  background-color: rgb(223, 64, 64);
  box-shadow: 1px 1px 20px 5px rgb(231, 244, 244);
}

.infectionRateCounter--number {
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
}
