.outbreakTracker {
  position: absolute;
  bottom: 190px;
  left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.outbreakTracker--title {
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
}

.outbreakTracker--counterDiv {
  position: relative;
  width: 100%;
}

.outbreakTracker--diamond {
  position: relative;
  background: rgba(0, 128, 0, 0.666);
  height: 28px;
  text-align: center;
  transform: rotate(45deg);
  width: 28px;
  border: 1px solid black;
}

.selectedRate {
  background-color: rgb(223, 64, 64);
  box-shadow: 1px 1px 20px 5px rgb(131, 198, 198);
}
